extends layout
block content
    .placeInfo
    button(class="btn btn-success btn-lg btn-block okeyBtn").
        Okey!
    button(class="btn btn-danger btn-lg btn-block nopeBtn").
        Nope!
    a(href="http://foursquare.com", target="_blank") 
        img(class="poweredBy", src="/img/poweredByFoursquare_gray.png")

